.allCal{
	color: #fff;
	width: 500px;
}
.block{
	width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    background-color: #9C9C9C;
}
.block-zero{
	width: 246px;
    height: 40px;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    background-color: #9C9C9C;
}
.orange{
	background-color: #FFA700;
}
.value{
	background-color: #ffa700;
	width: 372px;
    height: 40px;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
}